
.App {
  text-align: center;
  align-content: center;
}

body {
  background-image: url("../src/images/bgImg.png");
}

#time {
  color: rgb(100, 77, 77);
  text-align: center;
  margin-top: 2vh; 
}

#copyright {
  text-align: center;
}

#nav {
  /* background-color: rgb(87, 86, 86); */
  background-color: rgb(100, 77, 77);
  color:rgb(187, 181, 181);
  font-weight: bold;
  font-size: 40px
}

#aboutME {
  margin: 10vh;
}

.projectRows {
  font-size: 13px;
  margin: auto;
  
}

#img-col {
  margin-left: 5vh;
  margin-right: 5vh;
  min-width: 400px;
}

#kimi {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin: 2%;

}

#imgCard {
  width: 75%;
  height: auto;
  margin: auto;
  margin-top: 5%;
  min-width: auto;
  max-height: auto;
}



#about {
  width: 100%;
  height: auto;
  margin-top: 5vh;
  margin-right: 2vh;
  padding: 2vh;
  margin: 2vh;
  border-radius: 2vh;
  background-color: rgb(100, 77, 77);
  min-width: 400px;
  min-width: 200px;


}

h2 {
  text-align: center;

}

p {
  width: 90%;
  height: auto;
  margin-left: 2vh;
  margin-right: 2vh;
  text-indent: 50px;
  font-size: 19px auto;
  color:rgb(187, 181, 181);
  letter-spacing: 2px;
  word-spacing: 5px;
  

}

.project-cards {
  text-align: center;
  width: 80%;
  height: auto;
  margin: 2vh;
  /* background-color: rgb(100, 77, 77); */
  
}

/* Contact Form CSS */
#CFcontainer {
  background-color: rgb(100, 77, 77);
  color:rgb(187, 181, 181);
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
} 

input[type=text], select, textarea {
  text-align: center;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

h3 {
  text-align: center;
  padding: 10px;
  
}

/* style={{ 
  width: '18rem',
  height: '65vh',
  margin: '5px', 
  borderStyle: 'solid', 
  borderColor: 'gray',
  textAlign: 'center',
  border: '1px solid #ccc',
  float: 'left',
  backgroundColor: 'rgb(100, 77, 77)'
  
  }} */
/* icons */

.icon {
  margin: auto;
  margin-left: 50px;
}

/* Contact Form */
/* #form {
 text-align: center;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
} */



