
.App {
  text-align: center;
  align-content: center;
}

body {
  background-image: url("../src/images/bgImg.png");
}

.card {
  background-color: rgb(100, 77, 77);
  position: relative;
  display: flex;
  margin: auto;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-clip: border-box; */
  /* border: 1px solid rgba(0,0,0,.125); */
  border-radius: .25rem;
  text-align: center;
  width: 80%;
  height: 80%;
  margin: 2vh;
  
}

#time {
  color: rgb(100, 77, 77);
  text-align: center;
  margin-top: 2vh; 
}

#copyright {
  text-align: center;
}

#nav {
  /* background-color: rgb(87, 86, 86); */
  background-color: rgb(100, 77, 77);
  color:rgb(187, 181, 181);
  font-weight: bold;
  font-size: 40px
}

#aboutME {
  margin: 10vh;
}

.projectRows {
  font-size: 13px;
  margin: auto;
  height: 80%;
}

#img-col {
  margin-left: 5vh;
  margin-right: 5vh;
  min-width: 400px;
}

#kimi {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin: 2%;

}

.skills {
  width: 90%;
  height: auto;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 2vh;
  font-size: 19px auto;
  color:rgb(187, 181, 181);
  letter-spacing: 2px;
  word-spacing: 5px;

}

#cardCard {
  background-color: rgb(100, 77, 77);
  height: auto;
}

#imgCard {
  width: 75%;
  height: auto;
  margin: auto;
  margin-top: 5%;

}



#about {
  width: 100%;
  height: auto;
  margin-top: 5vh;
  margin-right: 2vh;
  padding: 2vh;
  margin: 2vh;
  border-radius: 2vh;
  background-color: rgb(100, 77, 77);
  min-width: 400px;
  min-width: 200px;

}

.learning {
  margin-top: 4vh;
}

h2 {
  text-align: center;

}

p {
  width: 90%;
  height: auto;
  margin-left: 2vh;
  margin-right: 2vh;
  /* text-indent: 50px; */
  font-size: 16px auto;
  color:rgb(187, 181, 181);
  letter-spacing: 2px;
  word-spacing: 5px;
}


/* icons */

.icon {
  margin: auto;
}


