
.App {
  text-align: center;
  align-content: center;
}

body {
  background-image: url("../src/images/bgImg.png");
}

#time {
  color: rgb(100, 77, 77);
  text-align: center;
  margin-top: 2vh; 
}



#nav {
  /* background-color: rgb(87, 86, 86); */
  background-color: rgb(100, 77, 77);
  color:rgb(187, 181, 181);
  font-weight: bold;
  font-size: 40px
}

#aboutME {
  margin: 10vh;

}

.projectRows {
  font-size: 13px;
  margin: auto;
  
}

#img-col {
  margin-left: 5vh;
  margin-right: 5vh;
  min-width: 400px;
}

#kimi {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin: 2vh;

}

#imgCard {
  width: 75%;
  height: 300px;
  margin: auto;
  margin-top: 5%;
  min-width: 200px;
  max-height: 300px;
}



#about {
  width: 100%;
  height: auto;
  margin-top: 5vh;
  margin-right: 2vh;
  padding: 2vh;
  margin: 2vh;
  border-radius: 2vh;
  background-color: rgb(100, 77, 77);
  min-width: 400px;


}

h2 {
  text-align: center;
}

p {
  width: 90%;
  height: auto;
  margin-left: 2vh;
  margin-right: 2vh;
  text-indent: 50px;
  font-size: 19px auto;
  color:rgb(187, 181, 181);
  letter-spacing: 2px;
  word-spacing: 5px;
  

}

.project-cards {
  text-align: center;
  width: 80%;
  height: auto;
  margin: 2vh;
  /* background-color: rgb(100, 77, 77); */
  
}

/* style={{ 
  width: '18rem',
  height: '65vh',
  margin: '5px', 
  borderStyle: 'solid', 
  borderColor: 'gray',
  textAlign: 'center',
  border: '1px solid #ccc',
  float: 'left',
  backgroundColor: 'rgb(100, 77, 77)'
  
  }} */

